<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Abbas's{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {% if show_nav|default(true) %}
    {% include "nav.html" %}
    {% endif %}
    {% block content %}
    <!-- This block will be overridden by child templates -->
    {% endblock %}

</body>

</html>